<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<aside class="profile-card">
    
        
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Employee details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
        <div class="col-xs-2 col-sm-2">
            <img class="img-circle"
                 src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                 alt="User Pic">
        </div>
        <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm" *ngIf="employee">
            <strong>{{employee.name | uppercase}}</strong><br>
            <table class="table table-user-information">
                <tbody>
                <tr>
                    <td>Employee Id</td>
                    <td>{{employee.id}}</td>
                </tr>
                <tr>
                    <td>Employee Name</td>
                    <td>{{employee.name}}</td>
                </tr>
                <tr>
                    <td>skills</td>
                    <td>{{employee.skills}}</td>
                </tr>
                <tr>
                    <td>rating</td>
                    <td>{{employee.rating}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        
            
              <button (click)="goBack()" class="btn btn-default">
                  <span class="glyphicon glyphicon-chevron-left"></span> <b>  back</b></button>
        
        </div>
        </div>
    </div>

       
</aside>

